*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
}
.container{
    width: 100%;
    height: 100%;

}
form{
    width: min(350px, 70%);
    display: flex;
    flex-direction: column;
    margin: auto;
}
input[type="text"]{
    padding: 10px;
    margin: 5px 0;
    font-size: 1.3rem;
}
input[type="number"]{
    padding: 10px;
    margin: 5px 0;
}
.button{
    height: 40px;
    border-radius: 10px;
}
.todolist{
    width: min(350px, 70%);
    margin: auto;
    display: flex;
}
.todolist div{
margin: 5px;
}